body {
    background-color: #FFFFCC;
    margin: 100px
}
h1 {
   text-align: center;
   color: #663300;
   font-family: elephant, arial, sans-serif;
}
h2 {
    text-align: center;
    color: #CC9900;
    font-family: elephant, sans-serif;
}
h3 {
    font-family: elephant, sans-serif;
}
p {
    font-family: times-new-roman, serif;
}
img.clothed {
    width: 200px;
}
img.risque {
    height: 400px;
    text-align: center;
}
table {
    background-color: gray;
}
div {
    text-align: center;
}
span.y {
    color: yellow;
}
span.p {
    color: purple;
}